<div class="footers">
    <p class="ft">&copy; <span id="date"></span> Market Analysis & Insights</p>
    <p><small> <span class="under"> Disclaimer </span> : Financial markets are inherently volatile, and investments carry risks. 
      The information provided on The Market Analyst is for educational and informational purposes only 
      and should not be considered financial advice. We strongly encourage you to conduct your own research, 
      assess your risk tolerance, and consult with a qualified financial professional before making any investment
       decisions. Past performance is not indicative of future results, and we do not guarantee any specific 
       outcomes. By using this website, you acknowledge and accept full responsibility for your financial choices. 🚀</small></p>
</div>