<footer>
        <div class="footer-about">
            <h3> The Market Analyst</h3>
            <p>Providing expert market insights, trend analysis, and real-time financial data.</p>
        </div>

       
<!-- for now this section have not yet been thought about but mayb soon -->
        <!-- <div class="footer-section tools">
            <h3>Financial Tools</h3>
            <ul>
                <li><a href="#">Currency Converter</a></li>
                <li><a href="#">Stock Screener</a></li>
                <li><a href="#">Trading Calculators</a></li>
                <li><a href="#">Live Market Charts</a></li>
            </ul>
        </div> -->

        <!-- <div class="footer-section newsletter">
            <h3>Stay Updated with market insight</h3>
            <form action="#" id="subscribe">
                <input type="email" placeholder="Enter your email" id="sub" required>
                <button type="submit" id="sub_btn">Subscribe</button>
            </form>
            <p>Get expert market analysis delivered to your inbox.</p>
        </div> -->

    <div class="footer-bottom">
        <p class="ft">&copy; <span class="date"></span> Market Analysis & Insights</p>
        <p><small> <span class="under"> Disclaimer </span> : Financial markets are inherently volatile, and investments carry risks. 
          The information provided on The Market Analyst is for educational and informational purposes only 
          and should not be considered financial advice. We strongly encourage you to conduct your own research, 
          assess your risk tolerance, and consult with a qualified financial professional before making any investment
           decisions. Past performance is not indicative of future results, and we do not guarantee any specific 
           outcomes. By using this website, you acknowledge and accept full responsibility for your financial choices. 🚀</small></p>
    </div>
</footer>

