<header class="header">

    <div><h1 class="header__title"><a href="/">Market Analyst </a></h1>
        <span class="header__subtitle">unveilling market trends. maximizing gains</span>
    </div>

    <div class="header__search">
        <form action="/search" method="POST" class="header__search-form" role="search">
            <input type="search" class="header__search-input" placeholder="Search" name="searchTerm" aria-label="search">
            <button class="header__search-button">Search</button>
        </form>
    </div>
    
    <nav class="nav_header">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="/" class="nav__link">Home</a>
            </li>
            <li class="nav__item">
                <a href="/articles" class="nav__link">Article </a>
            </li>
            <li class="nav__item">
                <a href="/signal" class="nav__link"> Fx Signals</a>
            </li>
            <li class="nav__item">
                <a href="/admin" class="nav__link"> Sign in</a>
            </li>
        </ul>
    </nav>

    <div id="bar">
        <div class="bar__line1"></div>
        <div class="bar__line2"></div>
        <div class="bar__line3"></div>
    </div>

</header>