<article class="single">
    <h1><%= data.title %></h1>
    <span><%= data.date.toDateString() %></span>
    <span id="author"><%= data.author %></span>
    <div>
        <%- data.body %> <!-- Corrected variable name -->
    </div>
</article>
