<article class="single">
    <h1 id="title"><%= data.title %></h1>
    <span><%= data.date.toDateString() %></span>
    <p id="author"><%= data.author %></p>
    <div>
        <%- data.body %> <!-- Corrected variable name -->
    </div>
</article>
