<article>
    <h1><%= data.title %></h1>
    <span><%= data.date.toDateString() %></span>
    <span><%= data.author %></span>
    <div class="article-content">
        <%- data.body %> <!-- Corrected variable name -->
    </div>
</article>
